html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* VIEWS */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.View {
  padding: 10ch;
  color: #454545;
}

.Home {
  background-image: url("./resources/home.avif");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.Login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #642b2b;
  background-image: -webkit-linear-gradient(150deg, #eb7373 55%, #ffffff 35%);
}

.Login p {
  margin-right: 20%;
  font-size: 20ch;
  font-weight: 800;
  color: #fff;
}

/* COMPONENTS RULESETS */
.Navbar {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(218, 218, 218);
  margin: 2ch auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 2px rgb(157, 156, 156);
  gap: 5ch;
  padding: 2ch;
}

/* ELEMENTS RULESETS */
.Link {
  text-decoration: none;
  color: #454545;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5ch;
}

.Link:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40ch;
  gap: 5ch;
  border: 0.5px rgb(205, 205, 205) solid;
  box-shadow: 0 3px 5px 1px rgb(209, 209, 209);
  padding: 4ch 3ch;
  margin: 20ch;
  border-radius: 8px;
}

.form h1 {
  font-size: 2.5ch;
  text-align: center;
  color: #454545;
  margin: 0;
}

.form span {
  color: #d41e1e;
  font-weight: 700;
  text-align: start;
  border-radius: 0.5rem;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  color: #4d4d4d;
}

.button {
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  font-size: 1.7ch;
  border: 0;
  text-decoration: none;
  color: #fff;
  background: #eb7373;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.button:active {
  translate: 0 3px;
  transition: all 0.05s ease-in-out;
}

.button:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* .button-secondary {
  margin: 0 auto;
  padding: 1ch 2ch;
  border-radius: 5px;
  font-size: 1.4ch;
  border: 0;
  color: #fff;
  background: #a89891;
  text-decoration: none;
}

.button-secondary:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button-secondary:active {
  translate: 0 3px;
  transition: all 0.1s ease-in-out;
} */
.input {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
  outline: none;
  padding: 1.5ch;
  color: #565656;
}

label {
  text-transform: capitalize;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1300px) {
  .Login {
    background-color: #fff;
    background-image: none;
    flex-direction: column;
  }
  .Login p {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
